# 忽略整个模板备份文件夹
xtuthesis-master/
python_test/
# 忽略所有 LaTeX 编译产生的垃圾（无论在哪个文件夹）
# *.aux
# *.log
# *.toc
# *.out
# *.synctex.gz
# *.thm
# *.fdb_latexmk
# *.fls
# *.gz
# *.pdf
# *.tex

# Python cache
__pycache__/
*.pyc

# Go build artifacts
*.exe
*.out

# Node modules
node_modules/
Traffic_analyzer/traffic-ui/node_modules/
Traffic_analyzer/wails_shell/frontend/node_modules/
.gocache